<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="org.st.gob.pe.sifonavic8.mapper.CargaPreviaMapper">
    <resultMap
            type="org.st.gob.pe.sifonavic8.entity.CargaPrevia"
            id="cargaPreviaResultMap">

        <!-- Mapeo GPEC_PERSONA -->
        <result column="PDD_C_TIPDOC" property="tipoDocumento"/>
        <result column="PNC_N_NRODOC" property="numDocumento"/>
        <result column="PNC_D_APEPAT" property="apePaterno"/>
        <result column="PNC_D_APEMAT" property="apeMaterno"/>
        <result column="PNC_D_NOMBRES" property="nombres"/>
        <result column="PNC_F_NACIMIEN" property="fechaNacimiento"/>
        <result column="PDD_C_SEXOS" property="sexo"/>
        <result column="PNC_E_VALIDADO_RENIEC" property="estadoFallecido"/>
        <result column="PNC_F_FALLECIMIEN" property="fechaFacellido"/>

    </resultMap>

    <select id="cargaPreviaConsultaPersona"
            resultMap="cargaPreviaResultMap"
            parameterType="org.st.gob.pe.sifonavic8.entity.CargaPrevia">
        SELECT PDD_C_TIPDOC,
               PNC_N_NRODOC,
               PNC_D_APEPAT,
               PNC_D_APEMAT,
               PNC_D_NOMBRES,
               PNC_F_NACIMIEN,
               PDD_C_SEXOS,
               PNC_E_VALIDADO_RENIEC,
               PNC_F_FALLECIMIEN
        FROM FONAVI.GPEC_PERSONA
        WHERE PDD_C_TIPDOC =
              #{tipoDocumento,jdbcType=VARCHAR}
          AND PNC_N_NRODOC =
              #{numDocumento,jdbcType=VARCHAR}
    </select>

<!--    Actualiza las fechas y estado fallecidos-->
    <insert id="callSpUpdateFechaEstadoFallecidos" statementType="CALLABLE"
            parameterType="org.st.gob.pe.sifonavic8.dto.CargaFechaFallecidoDTO">
        { call FONAVI.SP_UPDDEATHDT(
                #{numDocumento, mode=IN, jdbcType=VARCHAR},
                #{fechaFallecido, mode=IN, jdbcType=VARCHAR},
                #{usuarioSesion, mode=IN, jdbcType=VARCHAR}
               )}
    </insert>

    <select id="existsByNumeroDocumento" resultType="boolean">
        SELECT COUNT(*)
        FROM FONAVI.FON_RENIEC
        WHERE tipo_documento = #{tipoDocumento}
          AND numero_documento = #{numDocumento}
    </select>



        <insert id="callSpTmpNuevosInsertarHerederosMasivo" statementType="CALLABLE">

            { call FONAVI.SP_INSER_PROC_HERED(#{new_herederosStr, jdbcType=VARCHAR}) }

        </insert>

        <insert id="callSpInsertNuevosHerederos" statementType="CALLABLE">

            {call FONAVI.SP_INSERT_N_HERED_MAS }

        </insert>


</mapper>