<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<nav th:replace="fragments/navbar :: navbar"></nav>

<body class="bg-gray-100 flex flex-col min-h-screen">
<div class="flex-grow container mx-auto p-6 space-y-8">
    <!-- Título principal -->
    <h1 class="text-3xl font-bold text-gray-800 text-center mb-8"></h1>
    <!--            th:action="@{/api/v1/cargaCSV/cargaInsertDataHedereros}" -->
    <form
            method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md max-w-2xl mx-auto space-y-6">
        <h2 class="text-xl font-semibold text-gray-800 text-center mb-4">Registrar Persona</h2>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- Input de archivo -->
            <div>
                <label for="fileInput" class="block text-sm font-medium text-gray-700 mb-2">Seleccionar archivo</label>
                <input
                        type="file"
                        id="fileInput"
                        name="file"
                        accept=".csv"
                        class="mt-2 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                />
            </div>

            <!-- Botón para procesar -->
            <div class="flex justify-end">
<!--                onclick="validarYSubirArchivo();"-->
                <button
                        type="button"
                        id="insertButton"
                        onclick="validarYSubirArchivo();"
                        class="px-6 py-2 bg-sky-950 text-white font-semibold rounded-lg shadow-md hover:bg-sky-600 focus:outline-none focus:ring-2 focus:bg-sky-400 focus:ring-offset-2 transition duration-300">
                    Procesar Archivo
                </button>
            </div>
        </div>
    </form>

    <div id="downloadContainer" class="text-center mt-4">
        <!-- Aquí se mostrará el enlace de descarga dinámicamente -->
    </div>
</div>
<script th:inline="javascript">
    var contextPath = /*[[${#httpServletRequest.contextPath}]]*/ '';
</script>
<script th:src="@{/js/persona/insertPersona.js}"></script>
<footer th:replace="fragments/footer :: footer" class="bg-gray-800 text-white py-4"></footer>
</body>
</html>
